body, html {
    height: 100%;
    width: 100%;
}
.container{
    background-image: url(../images/header-image.jpg);
    height: 900px;
    width: 1280px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logo-text p{
    font-size: 28px;
    font-weight: bold;
    font-family: dancingskript;
    color: #D9F0FF;
}
.navigation-ul{
    display: flex;
}
.navigation-ul li{
    margin: 0 30px;
    color: #D9F0FF;
    font-size: 12px;
    font-family: poppins;
    text-transform: uppercase;
}
.navigation-ul li:last-child{
    margin-right: 0;
}
