body, html {
    height: 100%;
    width: 100%;
    /* margin: 0 auto; */
}
.container{
    background-image: url(../images/header-image.jpg);
    height: 900px;
    width: 1280px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.logo-text p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 28px;
    font-weight: bold;
    font-family: dancingskript;
    color: #D9F0FF;
}